{% extends 'admin/defaultAdmin/base/base_main.html' %}
{% load staticfiles %}
{% block headFile %}
{% endblock %}
{% block sidebar %}
	{% include 'admin/defaultAdmin/base/base_sidebar.html' %}
{% endblock %}
{% block navbar %}
	{% include 'admin/defaultAdmin/base/base_navbar.html' %}
{% endblock %}
{% block content %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="content">
							<form action="" method="post" onsubmit="return checkall()">
								<div class="row">

									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h5>网站域名</h5>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<input type="text" class="form-control border-input" placeholder="在此处填写域名"
												   name="web" id="web" value="{{ webHostView }}">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h5>网站名称</h5>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<input type="text" class="form-control border-input" placeholder="在此处填写名称"
												   name="name" id="name" value="{{ webNameView }}">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h5>关键词</h5>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<input type="text" class="form-control border-input" placeholder="在此处填写关键词"
												   name="keyword" id="keyword" value="{{ webKeywordView }}">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h5>网站描述</h5>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<textarea rows="5" class="form-control border-input" placeholder="在此处填写描述"
													  name="desc">{{ webDescriptionView }}</textarea>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">

										</div>
									</div>
								</div>
								<div class="text-center">
									<button type="reset" class="btn btn-info btn-fill btn-wd">重置</button>
									<button type="submit" class="btn btn-info btn-fill btn-wd">提交</button>
								</div>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}
	{% include 'admin/defaultAdmin/base/base_foorer.html' %}
{% endblock %}
{% block footFile %}
	<!--   Core JS Files   -->
	<script src="{% static 'admin/defaultAdmin/assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'admin/defaultAdmin/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static 'admin/defaultAdmin/assets/js/bootstrap-checkbox-radio.js' %}"></script>
	<!--  Charts Plugin -->
	<script src="{% static 'admin/defaultAdmin/assets/js/chartist.min.js' %}"></script>
	<!--  Notifications Plugin    -->
	<script src="{% static 'admin/defaultAdmin/assets/js/bootstrap-notify.js' %}"></script>
	<!--  Google Maps Plugin    -->
	<!---<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>--->
	<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{% static 'admin/defaultAdmin/assets/js/paper-dashboard.js' %}"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="{% static 'admin/defaultAdmin/assets/js/demo.js' %}"></script>
	{% if saveToDB %}
		<script type="text/javascript">
            $(document).ready(function () {
                demo.initChartist();
                $.notify({
                    icon: 'ti-hand-point-right',
                    message: "{{ saveToDB.1 }}"
                }, {
                    type: '{{ saveToDB.0 }}',
                    timer: 4000
                });
            });
		</script>
	{% endif %}

{% endblock %}
