{% extends 'usercenter/defaultUserCenter/base.html' %}

{% block content %}
	<div class="col-sm-6">
		<h3 class="header smaller lighter red">最新文章</h3>
		{% for eveArticle in articleData %}

		<div class="well" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
		<h4 class="green smaller lighter"><a href="/blog/content?aid={{ eveArticle.aid }}" target="_blank">{{ eveArticle.title }}</a></h4>
			分类：{{ eveArticle.category.name }} &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;
			标签：{% for tag in eveArticle.tag.all %}
					{{ tag.name }}&nbsp;&nbsp;
				{% endfor %}
<br>
			{{ eveArticle.desc }}
		</div>
	{% endfor %}
	<div class="well well-sm"> <a href="/blog" target="_blank">查看更多文章</a></div>
	</div><!-- /.col -->
	<div class="col-sm-6">
		<h3 class="header smaller lighter red">评论回复</h3>

		{% for eveComment in tempComments %}
		<div class="well">
			<h4 class="green smaller lighter"><a href="/blog/content?aid={{ eveComment.0.article.aid }}" target="_blank">{{ eveComment.0.article_title }}</a></h4>
			您的留言：{{ eveComment.0.content }}<br>
			{% if eveComment.1 %}
				&nbsp;&nbsp;|&nbsp;&nbsp;博主回复：<span>{{ eveComment.1.0.content }}</span>
			{% endif %}
		</div>

	{% endfor %}
	</div><!-- /.col -->
{% endblock %}